# URL của Backend API (REST & Socket.io)
NEXT_PUBLIC_API_URL=""

# Secret token dùng để gọi Revalidate cache trang tĩnh phía Next.js
REVALIDATION_SECRET=""

# Khóa bí mật để giải mã Access Token từ cookie (phải khớp với Backend)
JWT_ACCESS_SECRET=""

# URL kết nối cơ sở dữ liệu Supabase
DATABASE_URL=""
DIRECT_URL=""
